<% include header %>

    <div class="columns is-centered">
      <div class="column is-half-tablet is-narrow">
        <div class="hero">
          <div class="hero-body">
            <h1 class="title">Erro 404!</h1>
            <p class="subtitle">Página não encontrada.</p>
          </div>
        </div>
      </div>
    </div>
