<% include header %>

    <main class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6">
          <div class="my-5">
            <h1>Erro 404!</h1>
            <p class="lead">Página não encontrada.</p>
          </div>
        </div>
      </div>
    </main>

<% include footer %>
