    <footer class="container-fluid">
      <div class="row justify-content-center bg-light">
        <div class="col-12 col-sm-10 col-md-6 p-3">
          <p class="text-muted">Developed by Cassiano Kuplich</p>
          <p class="small"><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
