<% include header %>

    <main class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6">
          <div class="card" id="current-weather">
            <div class="card-body">
              <div class="media">
                <img class="mr-3" width="96" height="96" v-bind:src="'/img/' + icon" id="icon" alt="Summary icon">
                <div class="media-body">
                  <h1 v-text="temperature"></h1>
                  <p v-text="summary"></p>
                  <p class="text-muted" v-text="time"></p>
                </div>
              </div>
              <p class="card-text text-right"><small><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></small></p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
